.dish{
    border: solid 1px red;
    &-title{
        min-height: 7vh;
    }
    &-container{
        border: solid 1px blue;
        min-width: 90%;
        margin: 0 5% 0 5%;
        &-row-1{
            border: solid 1px red;
            margin-bottom: 5vh;
            &-img{
                background-color: #ddd;
                img{
                    width: 600px;
                    height: auto;
                }
            }
            &-ingredient{
                background-color: #ddd;
            }
        }
        &-row-2{
            border: solid 1px blue;
        }

    }
}