.dish{
    &-title{
        min-height: 7vh;
    }
    &-container{
        min-width: 90%;
        margin: 0 5% 0 5%;
        &-row-1{
            margin-bottom: 5vh;
            &-img{
                img{
                    border-radius: 10px;
                    border: solid 2px #222;
                    width: 35vw;
                    height: auto;
                    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
                }
            }
            &-ingredient{
                box-shadow: rgba(0, 0, 0, 0.7) 1.95px 1.95px 2.6px;
                border-radius: 10px;
                border: solid 2px #222; 
                background-color: #bbb;
            }
        }
        &-row-2{
            &-option{
                height: 15vh;
                align-items: center;
                box-sizing: border-box;
                margin: auto;
            }
            &-description{
                box-shadow: rgba(0, 0, 0, 0.7) 1.95px 1.95px 2.6px;
                border-radius: 10px;
                background-color: #ccc;
                border: solid 2px #222;
            }
        }

    }
}