.profile-right-edit-password{
    border: solid 1px #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    text-align: left;
    padding:0 30px;
    background-color: #eee;
    padding: 30px;
    border-radius: 10px;
    &-title{
        text-align: center;
    }
    &-oldpass{
        margin-bottom: 20px;
        font-weight: 500;
        width: 100%;
        .old-password{
            border-radius: 5px;
            height: 40px;
            width: 100%;
            &:focus{
                box-shadow: rgba(49, 134, 184, 0.3) 0px 5px 15px;
                outline: none;
            }
        }
    }
    &-newpass{
        font-weight: 500;
        width: 100%;
        margin-bottom: 20px;
        .new-password{
            border-radius: 5px;
            height: 40px;
            width: 100%;
            &:focus{
                box-shadow: rgba(49, 134, 184, 0.3) 0px 5px 15px;
                outline: none;
            }
        }
    }
    &-confirmpass{
        font-weight: 500;
        width: 100%;
        margin-bottom: 20px;
        .confirm-password{
            border-radius: 5px;
            height: 40px;
            width: 100%;
            &:focus{
                box-shadow: rgba(49, 134, 184, 0.3) 0px 5px 15px;
                outline: none;
            }
        }
    }
    &-submit{
      &-button{
        margin-top: 15px;
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
        &:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        }

        &:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
        }

        &:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
        }
      }
    }
}