.dish-option{
    display: flex;
    flex-direction: column; 
    width: 100%;
    border: solid 2px #222;
    button{
        width: 100%;
        border: none;
        border-bottom: solid 1px #eee;
        &:focus{
            outline: none;
            background-color: #ccc;
        }
        
    }
    

}