input {
    border-radius: 5px;
    border: 1px solid #b9c3c7;
}

.share-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #eae2e2;
    width: 90%;
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 50px;
}

h2{
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 span{
    color: #FD6929;
}

.recipe-form-1{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.recipe-form-1 .add-image {
    background: #dccaca;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

input[type="file"]{
    display: none;
}

.add-image label{
    color: white;
    height: 100px;
    width: 200px;
    background-color: #a49f95;
    justify-content: center;
    display: flex;
    flex-direction: column ;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.add-image label:hover {
    background: #928484;
}

.add-text {
    /*background-color: white;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.add-text .recipe-name-add{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.add-text .recipe-name-add .recipe-name-add-item {
    width: 120px;
    background-color: #ed9166;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
}

.add-text .recipe-name-add .recipe-name-add-input {
    width: 205px;
    margin-left: 155px;
}

.add-text p {
    width: 100px;
    margin-left: 40px;
    background-color: #ed9166;
    border-radius: 6px;
    color: #ffffff;
}

.ingredient-add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredient-add .ingredient-add-item{
    /*width: fit-content;*/
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 20px;
}

.ingredient-add button {
    width: 30px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    color: greenyellow;
    background-color: greenyellow;
    border: 0.5px solid;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 10px;
}

.div-input-text-add {
    /*background: white;*/
    width: 900px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.div-input-text-add label {
    margin-left: 20px;
    background: #c7c0ba;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.div-input-text-add textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: 1px solid #afbbc3;
    border-radius: 5px;
    font-size: 22px;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
    width: 80%;
    font-weight: 300;
}

.share-container .button-27 {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.button-27 {
   appearance: none;
   background-color: #000000;
   border: 2px solid #1A1A1A;
   border-radius: 15px;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   font-size: 16px;
   font-weight: 600;
   line-height: normal;
   margin: 0;
   min-height: 60px;
   min-width: 0;
   outline: none;
   padding: 16px 24px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
   will-change: transform;
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

@media (max-width: 1030px) {
    .recipe-form-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .add-image {
        margin-bottom: 30px;
    }
}

