input {
    /*border-radius: 5px;*/
    border: 1px solid #b9c3c7;
}

.share-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #b7b5ff86;
    width: 85%;
    /* margin-left: 80px; */
    border-radius: 10px;
    margin-bottom: 50px;
}

.form-container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
}

.share-container input[type='text'] {
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
}

.share-container input[type='number'] {
    padding: 5px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.123);
}

.form-container-input h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-container-input span {
    color: #FD6929;
}

.recipe-form-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 72%;
    justify-content: space-between;
    align-items: center;
}

.recipe-form-1 .add-image {
    background: #F1EDED;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 310px;
    height: 310px;
    border-radius: 10px;
}

input[type="file"] {
    display: none;
}

.add-image label {
    color: white;
    height: 100px;
    width: 200px;
    background-color: #a49f95;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.add-image label:hover {
    background: #928484;
}

.add-text {
    /*background-color: white;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*height: 500px;*/
    width: 450px;
    /*border-radius: 10px;*/
}

.add-text .recipe-name-add {
    /* margin-top: 20px; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}

.add-text .recipe-name-add .recipe-name-add-item {
    height: 25px;
    width: 215px;
    background-color: #ed9166;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
}

.add-text .recipe-name-add .recipe-name-add-input {
    width: 220px;
    /*margin-left: 20px;*/
    height: 25px;
}

.add-text .ingredient-add p {
    width: 215px;
    /*margin-left: 40px;*/
    background-color: #ed9166;
    border-radius: 6px;
    color: #ffffff;
    height: 25px;
}

.ingredient-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredient-add .ingredient-add-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 15px; */
    margin-bottom: 10px;
    position: relative;
}

.ingredient-add .ingredient-add-item-name {
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    text-align: left;
}

.ingredient-add .ingredient-add-item-name {
    /*margin-right: 25px;*/
    margin-right: 15px;
}

.ingredient-add .ingredient-add-item-name .css-b62m3t-container {
    width: 220px;
}

.ingredient-add .ingredient-add-item input {
    width: 217px;
}

.ingredient-add .ingredient-add-item label {
    display: flex;
    justify-content: flex-start;
}

.delete-item-ingredient-add-item {
    position: absolute;
    right: -35px;
    top: 55px;
    cursor: pointer;
}


.delete-item-ingredient-add-item:hover {
    color: #fd6929;
}

.delete-item-ingredient-add-item:active {
    color: #ae7b67;
}

.ingredient-add .btn-add-ingredient {
    color: rgba(79, 114, 30, 0.89);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.ingredient-add .btn-add-ingredient:hover {
    /*width: 30px;*/
    /*height: 25px;*/
    text-align: center;
    /* border-radius: 10px; */
    color: rgba(85, 118, 39, 0.5);
}

.ingredient-add .btn-add-ingredient:active {
    /*width: 30px;*/
    /*height: 25px;*/
    text-align: center;
    /* border-radius: 10px; */
    color: rgba(194, 229, 145, 0.5);
}

.div-input-text-add {
    /*background: white;*/
    width: 900px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.div-input-text-add label {
    margin-left: 20px;
    background: #c7c0ba;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.div-input-text-add textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: 1px solid #afbbc3;
    border-radius: 5px;
    font-size: 22px;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    /* Hack to make "rows" attribute apply in Firefox. */
    width: 80%;
    font-weight: 300;
    outline: none;
}

.share-container .button-27 {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

@media (max-width: 1170px) {

    .share-container {
        width: 85%;
        min-width: 790px;
        box-sizing: border-box;
    }

    .recipe-form-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recipe-form-1 .add-image {
        margin-bottom: 50px;
        margin-right: 0;
        width: 100%;
        height: 450px;
    }

    .add-text {
        width: 100%;
    }
}

.login-after-share {
    margin-top: 50px;
}

.login-after-share p {
    margin-top: 20px;
    font-size: 25px;
}


@media (max-width: 1020px) {

    .div-input-text-add {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .other-input {
        width: 72%;
    }
}



.other-input {
    width: 72%;
}


input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #8e44ad;
    top: -2.25rem;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
}

.styled-input {
    float: left;
    width: 33.3333%;
    margin: 2rem 0 1rem;
    position: relative;
}

.styled-input label {
    color: #999;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 100%;
}

.other-input input,
textarea {
    padding: 1rem 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
}

.other-input input~span,
textarea~span {
    display: block;
    width: 0;
    height: 3px;
    background: #8e44ad;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
}

.other-input input:focus,
textarea:focus {
    outline: 0;
}

.other-input input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.other-input textarea {
    width: 100%;
    min-height: 7em;
    border-radius: 10px;
}